html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  scroll-behavior: smooth;
}

#home,
#perfil,
#resenas,
#chat,
#anuncios,
#acciones {
  padding-top: 80px;   /* para que no quede tapado por el navbar */
  margin-top: -40px;   /* elimina espacio extra visual */
}
.section-title {
  color: #f472b6;
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.screenshot {
  width: 220px;
  height: auto;
  border-radius: 0.75rem;
  object-fit: contain;
  background-color: #111;
  padding: 0.5rem;
}

header, footer {
  text-align: center;
}

.navbar-links a {
  color: #f472b6;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: white;
}

.action-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  font-size: 1.125rem; 
  font-weight: 600;
  transition: color 0.3s ease;
}

.action-link:hover {
  color: #f472b6; 
}

footer {
  margin-top: 4rem;
  color: #888;
}
